<!doctype html>
<html>
  <head>
    <title> {{ title }} </title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>
    <div class="hello">
      <h3> Bem-vindo ao Sistema</h3>
      <div class="username">
        <h5> Hi, {{ user.nome }} </h5>
      </div>
      <div class="idade">
        <h5> Idade = {{ user.idade }} </h5>
      </div>
      <div class="curso">
        <h5> Seu curso &eacute {{ user.curso }} </h5>
      </div>
    </div>
    <div class="button-change-page">
      <button type="send" action="weqw.html">Versão</button>
    </div>
  </body>
</html>
